/*=============================================
=            General Styling            =
=============================================*/
* {
  box-sizing: border-box;
}
html, body {
  background: #eeeded;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}


/*=====  End of General Styling  ======*/


/*=============================================
=            Navbar            =
=============================================*/
.my-navbar {
  text-align: center;
  
}

.my-navbar > li {
  display: inline-block;
  padding-right: 100px;
}

.my-navbar > li > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.my-navbar > li > a.selected {
  text-decoration: none;
  color: rgb(14, 209, 209);
  font-weight: 500;
}
.my-navbar > li > a:hover {
  text-decoration: none;
  color:  rgb(14, 209, 209);
  font-weight: 600;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

#logo{
  margin: 10px;
}

i {
  font-size: 1.55rem;
  color: white;
  padding-right: 5px;
  align-items: left;
}
a>i:hover {
  font-size: 1.501rem;
  text-decoration: none;
  color:  rgb(14, 209, 209);
  /* font-weight: 600; */
  
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  
}


/*=====  End of Navbar  ======*/


/*=============================================
=            Home page            =
=============================================*/
#home-container-main {
  background: url("/img/pexels-photo-343299.jpeg") no-repeat;
  /* background-size: cover;
  background-position:  center; */
  /* z-index: -10; */
}
.home-second-row {
  width: 100%;
  /* height: 50rem; */
  color: rgb(14, 209, 209);
  /* background: rgba(0, 0, 0, 0.4); */
  /* text-align: center; */
  margin: auto auto;
  position: relative;
 
}

.my-row#row-home{
  background: rgba(128, 128, 128, 0.5);
}

.welcome-container {
  width: 60%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: auto auto;
  position: relative;
  top: 50;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.welcome-container img {
  border-radius: 50%;
  width:12rem;
  height: 12rem;


}
.welcome-container h1{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 40%;
  letter-spacing: 1rem;
  font-size: 5rem;
}
.welcome-container p{
  margin: 0;
  padding: 25px 100px;
  /* padding-left: 60px; */
  text-align: center;
  position: relative;
  top: 18%;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}
.welcome-container h1{
  color: rgb(14, 209, 209);
}
.welcome-container h4 a{
  color: white;
  text-decoration: none;
}
.welcome-container h4 a:hover{
  color: rgb(14, 209, 209);
}



/*=====  End of Home page  ======*/





.my-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.my-row {
  padding: 2px 0 2px 2px;
  background: gray;
  border-top: 3px solid  rgb(14, 209, 209);
  border-bottom: 3px solid  rgb(14, 209, 209);
}






/*=============================================
=            Photo page            =
=============================================*/

.photo-grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.photo-grid-1 div img {
  width: 100%;
  margin: 5px 0;
 
}
.caption {
  color: rgb(14, 209, 209);
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  background-color: gray;
  height: 1.75rem;
  margin-top: -2rem;
  position: relative;
  display: none;
  border-top: 1px solid  rgb(14, 209, 209);
  border-bottom: 1px solid  rgb(14, 209, 209);
}
.photo-grid-1 div img:hover + .caption {
  display: block;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;

}


/*=====  End of Photo page  ======*/




.col-3-of-3 {
  text-align: center;
}

/* .my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */


/*=============================================
=            Footer            =
=============================================*/

footer {
  background: gray;
  color: white;
  text-align: center;
  font-weight: 400;
  clear: both;
}


/*=====  End of Footer  ======*/


/*=============================================
=            About me Page            =
=============================================*/
.about-me {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 2.5rem;
  height: 100vh;
  width: 100%;
 
}


.about-me-col-1 h1{
 color: rgb(3, 143, 143);
 /* align-self:flex-start; */
 display: inline-block;
 width: 80%;
 margin-bottom: 0.1rem;

}
.about-me-col-1 h4{
color: rgb(97, 96, 96);
}
.about-me-col-1 h4>span{
font-weight: bold;
}
.about-me-col-1 hr{
 border-bottom: 2px solid rgb(3, 143, 143);
 display: inline-block;
 width: 80%;
 margin-top:0.5rem; 
 
}
.about-me-col-2 {
position: relative;
top: 20%;
left: 20%;
width: 100rem;
transform: translate(-20%, -20%);
padding: 1.25rem;
/* background: blue; */
border-radius: 0.25rem;
display: flex;

}
.about-me-col-2 .photo-box{
  width: 30rem;
  flex: 0 0 30rem;
  border-left: 2px dotted rgb(3, 143, 143);
  border-bottom: 2px dotted rgb(3, 143, 143);
  overflow: hidden;

}
.about-me-col-2 .photo-box img{
max-width: 100%;

}

.about-me-col-2 .content-box{
 padding-left: 1.5px;
 flex: 2 0 30rem;
 width: 30rem;
 overflow: hidden;
}
.about-me-col-2 .content-box h3{
 margin: 0;
 padding-left: 0;
 font-size: 2rem;

}
.about-me-col-2 .content-box p{
 margin: 0;

 text-align: justify;

}
.content-box h3{
margin-bottom: 0;
font-weight: 600;
}
.about-me-col-2 h5{
margin-bottom: 2rem;
font-weight: 600;
color: rgb(97, 96, 96);
font-style: italic;
}
.about-me-col-2 p{
 height: 100%;
 width: 40%;
}



/*=====  End of About me Page  ======*/










@media all and (min-width: 769px) {
  .my-row {
    display: flex;
    align-items: center;
   
    justify-content: space-around;
  }
  .col-1-of-3 {
    width: 20%;
  }
  .col-2-of-3 {
    width: 50%;
  }
  .col-3-of-3 {
    width: 30%;
    align-items: left;
    
  }

  /* .my-second-row {
    display: flex;
    background: #eeeded;
    
  } */
  /* .my-second-row > .col-1-of-3,.col-3-of-3  {
    width: 10%;
    padding: 0 10px;
  
    
  } */


}
