* {
  box-sizing: border-box;
}
html, body {
  background: #eeeded;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#home-container-main {
  background: url("/img/pexels-photo-343299.jpeg") no-repeat;
  /* background-size: cover;
  background-position:  center; */
  z-index: -10;
}

.my-container {
  min-height: 100%;
}

.my-navbar {
  text-align: center;
  
}

.my-navbar > li {
  display: inline-block;
  padding-right: 100px;
}

.my-navbar > li > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.my-navbar > li > a.selected {
  text-decoration: none;
  color: rgb(14, 209, 209);
  font-weight: 500;
}
.my-navbar > li > a:hover {
  text-decoration: none;
  color:  rgb(14, 209, 209);
  font-weight: 600;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

#logo{
  margin: 10px;
}

.my-row {
  padding: 2px 0 2px 2px;
 background: gray;
  border-top: 3px solid  rgb(14, 209, 209);
  border-bottom: 3px solid  rgb(14, 209, 209);
}

.my-row#row-home{
  background: rgba(128, 128, 128, 0.5);
}

i {
  font-size: 1.55rem;
  color: white;
  padding-right: 5px;
  align-items: left;
}
a>i:hover {
  font-size: 1.501rem;
  text-decoration: none;
  color:  rgb(14, 209, 209);
  /* font-weight: 600; */
  
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  
}

footer {
  background: gray;
  color: white;
  text-align: center;
  font-weight: 400;
  clear: both;
}
.photo-grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.photo-grid-1 div img {
  width: 100%;
  margin: 5px 0;
 
}
.caption {
  color: rgb(14, 209, 209);
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  background-color: gray;
  height: 1.75rem;
  margin-top: -2rem;
  position: relative;
  display: none;
  border-top: 1px solid  rgb(14, 209, 209);
  border-bottom: 1px solid  rgb(14, 209, 209);
}
.photo-grid-1 div img:hover + .caption {
  display: block;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;

}
/* .my-row {
  display: block;


} */
.col-3-of-3 {
  text-align: center;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-second-row {
  width: 100%;
  /* height: 50rem; */
  color: rgb(14, 209, 209);
  /* background: rgba(0, 0, 0, 0.4); */
  /* text-align: center; */
  margin: auto auto;
  position: relative;
 
}
.welcome-container {
  width: 60%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: auto auto;
  position: relative;
  top: 50;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.welcome-container img {
  border-radius: 50%;
  width:12rem;
  height: 12rem;
 
  position: relative;

}
.welcome-container h1{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 40%;
  letter-spacing: 1rem;
  font-size: 5rem;
}
.welcome-container p{
  margin: 0;
  padding: 25px 100px;
  /* padding-left: 60px; */
  text-align: center;
  position: relative;
  top: 18%;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}
.welcome-container h1:hover{
  color: rgb(14, 209, 209);
}








@media all and (min-width: 769px) {
  .my-row {
    display: flex;
    align-items: center;
   
    justify-content: space-around;
  }
  .col-1-of-3 {
    width: 20%;
  }
  .col-2-of-3 {
    width: 50%;
  }
  .col-3-of-3 {
    width: 30%;
    align-items: left;
    
  }

  .my-second-row {
    display: flex;
    background: #eeeded;
    
  }
  .my-second-row > .col-1-of-3,.col-3-of-3  {
    width: 10%;
    padding: 0 10px;
    color: white;
    
  }


}
